#main-window
{
    -fx-background-color: #b7d39c;
}

.exit-button
{
    -fx-background-color: #335c67;
    -fx-background-radius: 0px;
}

.input-form-label
{
    -fx-font-size: 16px;
}

.input-field
{
    -fx-background-radius: 0px;
    -fx-text-box-border: transparent;
    -fx-pref-height: 32px;
}

.tab-header-background
{
    -fx-background-color: #335c67;
}

.tab-button
{
    -fx-background-color: #335c67;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-text-fill: #fff;
    -fx-focus-color: #4a8696;
    -fx-faint-focus-color: #4a8696;
}

.tab-button:selected
{
    -fx-font-weight: bold;
    -fx-background-color: #4a8696;
}

.tab-label
{
    -fx-text-fill: #fff;
}

.submit-button
{
    -fx-background-color: #335c67;
    -fx-text-fill: #fff;
    -fx-background-radius: 0px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.date-picker
{
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-pref-height: 32px;
}

.date-picker .text-field
{
    -fx-background-insets: 0, 0 0 0 0;
}

.date-picker .arrow-button
{
    -fx-background-color: #335c67;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-pref-width: 320px;
}

.date-picker .arrow-button .arrow
{
    -fx-background-color: #fff;
}

.date-picker .month-year-pane
{
    -fx-background-color: #335c67;
}

.date-picker .month-year-pane .label
{
    -fx-text-fill: #fff;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow
{
    -fx-background-color: #fff;
}

.date-picker-popup .spinner .button:hover .left-arrow,
.date-picker-popup .spinner .button:hover .right-arrow
{
    -fx-background-color: transparent;
}

.tab-pane
{
    -fx-background-color: #eaf2e3;
}

.checkbox-field .box
{
    -fx-background-color: #fff;
    -fx-border-color: transparent;
    -fx-background-radius: 0px;
}

.checkbox-field:selected .box
{
    -fx-background-color: #335c67;
}

.checkbox-field:selected .mark
{
    -fx-background-color: #fff;
}

.choice-box
{
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-color: #fff;
    -fx-pref-height: 32px;
}