#main-window
{
    -fx-background-color: #b7d39c;
}

.exit-button
{
    -fx-background-color: #335c67;
    -fx-background-radius: 0px;
}

.table-button
{
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.1, 0, 0);
    -fx-font-size: 24px;
    -fx-pref-width: 750px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.table-background
{
    -fx-background-color: #fff;
}

.input-form-label
{
    -fx-font-size: 16px;
}

.input-field
{
    -fx-background-radius: 0px;
    -fx-text-box-border: transparent;
    -fx-pref-height: 32px;
}

.tab-header-background
{
    -fx-background-color: #335c67;
}

.table-background
{
    -fx-background-color: #eaf2e3;
}

.tab-button
{
    -fx-background-color: #335c67;
    -fx-background-radius: 0px;
    -fx-text-fill: #fff;
    -fx-focus-color: #4a8696;
    -fx-faint-focus-color: #4a8696;
}

.tab-button:selected
{
    -fx-font-weight: bold;
    -fx-background-color: #4a8696;
}

.tab-label
{
    -fx-text-fill: #fff;
}

.submit-button
{
    -fx-background-color: #335c67;
    -fx-text-fill: #fff;
    -fx-background-radius: 0px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.date-picker
{
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane
{
    -fx-effect: dropshadow(gaussian, #000, 0.5, 0.1, 1, 10);
}

.checkbox-field .box
{
    -fx-background-color: #fff;
    -fx-border-color: transparent;
    -fx-background-radius: 0px;
}

.checkbox-field:selected .box
{
    -fx-background-color: #335c67;
}

.checkbox-field:selected .mark
{
    -fx-background-color: #fff;
}