@font-face
{
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face
{
    src: url("../fonts/OpenSans-Bold.ttf");
}

#main-window
{
    -fx-background-color: #b7d39c;
}

.main-label
{
    -fx-font-size: 72px;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-font-family: "Open Sans";
}

.main-button
{
    -fx-font-family: "Open Sans";
    -fx-font-size: 24px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #fff;
    -fx-background-color: #335c67;
    -fx-background-radius: 0px;
}

.exit-button
{
    -fx-font-family: "Open Sans";
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #fff;
    -fx-background-color: #335c67;
    -fx-background-radius: 0px;
}

.settings-button
{
    -fx-font-family: "Open Sans";
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #fff;
    -fx-background-color: #335c67;
    -fx-background-radius: 0px;
}

.sub-label
{
    -fx-padding: -20px 0px 0px 0px;
    -fx-text-fill: #000;
    -fx-font-size: 24px;
}