@font-face
{
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face
{
    src: url("../fonts/OpenSans-Bold.ttf");
}

.main-label
{
    -fx-font-size: 36px;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-font-family: "OpenSans Bold";
}

.exit-button
{

}

#main-window
{
    -fx-background-color: #b7d39c;
}

.input-field
{
    -fx-text-box-border: transparent;
    -fx-background-radius: 0px;
    -fx-font-scale: 36px;
    -fx-pref-height: 40px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.write-button
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #fff;
    -fx-background-color: #335c67;
    -fx-background-radius: 0px;
}